{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block package_metadata_fields_maintainer %}
  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/user/members_for_org_autocomplete?q=?', 'required': 'required'} %}

  {{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-full'], is_required=true, attrs=tag_attrs) }}
{% endblock %}
