{% import 'macros/form.html' as form %}

<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Reply to the request</h2>
    </div>
    <div class="modal-body">
      <form class="form-horizontal col-sm-12" enctype="multipart/form-data">
        <div class="alert alert-error hide"></div>
        {{ form.textarea('message_content', label=_('Message content'), is_required=true, attrs={'required': 'required', 'class': 'form-element'}) }}

        {{ form.input('file_upload', type='file', label=_('Upload file')) }}
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-cancel">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
