{% import 'macros/form.html' as form %}
{% block contact_form %}
<div class="modal two-cols posfix">
  <div class="modal-content">
    <!-- <div class="modal-header">
            <h1>Contact the dataset owner</h1>
            <h3>Use the form to ask a question or provide comments about
                this dataset to the owner.</h3>
        </div> -->
    <div class="modal-body">
      <div class="row two-cols">
        <div class="col-sm-6 left-col">
          <div class="large-title">
            Request access to a dataset
          </div>
          <div class="large-text mTop20">
            Get in touch with an organization to know more about its available datasets.
          </div>
          <div class="regular-text mTop20 white">
            HDX enables you to contact organizations that have interesting datasets. We will encourage the contributor to answer your request within a week. Check your email for updates!
          </div>
        </div>
        <div class="col-sm-6 right-col">
          <div class="paddingfix">
          <div class="ds-title">
            Dataset {{ package_name }}
          </div>
          <div class="ds-contrib mtop5">
            {# Contributor: Joe Fletcher, US Government #}
          </div>
            <form class="form-horizontal" id="request-data-form">
              <div class="alert alert-error hide"></div>
              <div class="mTop20">
                {% block sender_name %}
                  {{ form.input('sender_name', id='field-name', label=_(''), placeholder=_('Your name'), value='', error='', classes=['control-full'], is_required=true,attrs={'required': 'required', 'class': 'form-element curvy-border form-fix'}) }}
                {% endblock %}
                {% block email %}
                  {{ form.input('email_address', id='field-email', label=_(''), placeholder=_('Your email'), value='', error='', classes=['control-full'], is_required=true,attrs={'required': 'required', 'class': 'form-element curvy-border mtop5 form-fix'}) }}
                {% endblock %}
              </div>
              <div class="mTop20 mbottom15">
              <div class="redasterisk">
                Why are you requesting access to this dataset?
              </div>
              <div class="mbottom10">
                Leave a message for the contributor:
              </div>
            </div>
              {% block message_content %}
                {{ form.textarea('message_content', id='field-comments', label=_(''), placeholder=_('Message content'), value='', error='',is_required=true, attrs={'required': 'required', 'class': 'form-element curvy-border form-fix'} ) }}
              {% endblock %}
            </form>
        </div>
      </div>
    </div>
    <div class="modal-footer bottom-actions">
      <button class="btn btn-empty btn-empty-black btn-large btn-cancel">Cancel</button>
      <button type="submit" class="btn btn-primary btn-submit">Send request</button>
    </div>
  </div>
  </div>
</div>
{% endblock %}
