{% ckan_extends %}

{% block header_account_logged %}
  {% if c.userobj.sysadmin %}
    <li>
      <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
        <i class="icon-legal" aria-hidden="true"></i>
        <span class="text">{{ _('Admin') }}</span>
      </a>
    </li>
  {% endif %}

  {% set notification_seen = h.requestdata_get_notification() %}

  {% if not notification_seen %}
    <li>
      <a href="{{ h.url_for('requestdata_my_requests', id=c.userobj.name) }}" title="{{ _('New data request') }}">
        <i class="icon-circle" aria-hidden="true"></i>
        <span class="text">{{ _('New data request') }}</span>
      </a>
    </li>
  {% endif %}
  <li>
    <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
      {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
      <span class="username">{{ c.userobj.display_name }}</span>
    </a>
  </li>
  {% set new_activities = h.new_activities() %}
  <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
    <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
      <i class="icon-dashboard" aria-hidden="true"></i>
      <span class="text">{{ _('Dashboard') }}</span>
      <span class="badge">{{ new_activities }}</span>
    </a>
  </li>
  {% block header_account_settings_link %}
    <li>
      <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
        <i class="icon-cog" aria-hidden="true"></i>
        <span class="text">{{ _('Settings') }}</span>
      </a>
    </li>
  {% endblock %}
  {% block header_account_log_out_link %}
    <li>
      <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
        <i class="icon-signout" aria-hidden="true"></i>
        <span class="text">{{ _('Log out') }}</span>
      </a>
    </li>
  {% endblock %}
{% endblock %}

{% block header_account_notlogged %}
  {% set is_hdx_portal = h.requestdata_is_hdx_portal() %}
  
  {% if not is_hdx_portal %}
    <li>{% link_for _('jaska'), controller='user', action='login' %}</li>
    {% if h.check_access('user_create') %}
      <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
    {% endif %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
