.requested-data-container {
  margin-bottom: 50px;
}

.requested-data-container__content {
  border: 1px solid #dddddd;
  border-radius: 3px;
  }

.requested-data-container__content-item {
  border-bottom: 1px solid #dddddd;
  padding: 18px;
  position: relative;
}

.requested-data-container__message {
  margin-top: 30px;
  width: 80%;
  color: #5f5f5f;
}

.requested-data-container__message--modal {
  margin-top: 0;
  width: 96%;
  color: #5f5f5f;
}

.requested-data-container__actions {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.requested-data-container__actions button {
  width: 70px;
}

.requested-data-container__actions--reject,
.requested-data-container__actions--data-notshared {
  margin-top: 15px;
}

.requested-data-container__date {
  color: #9d9c9c;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 12px;
}

.requested-data-container__content-item .gravatar {
  border-radius: 100px;
  margin-right: 5px;
}

.requested-data-container__content-item-info {
  width: 80%;
}

.requested-data-container__content-item-info-separator {
  color: #6f6b6b;
}

.request-message-alert {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 10;
}

.requested-data-container__actions--data-shared .icon-thumbs-up,
.requested-data-container__actions--data-notshared .icon-thumbs-down {
  margin-left: 8px;
  font-size: 18px;
}

.requested-data-container__status {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-39%);
  text-align: center;
  width: 60px;
}

.requested-data-container__status-text {
  font-size: 12px;
  color: #565656;
  margin-top: 5px;
}

.requested-data-container__status .icon-remove-circle,
.requested-data-container__status .icon-thumbs-up,
.requested-data-container__status .icon-thumbs-down {
  font-size: 30px;
}

.requested-data-container__status .icon-remove-circle {
  color: #bd362f;
}

.requested-data-container__status .icon-thumbs-up {
  color: #51a351;
}

.requested-data-container__status .icon-thumbs-down {
  color: #49afcd;
}
.dropdown {
    float: right;
}
.title-requests{
    display:inline-block;
}
.icon-circle{
    color:red;
}
