.my-requested-data-container {
  margin-bottom: 50px;
}

.my-requested-data-container__content {
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.my-requested-data-container__content-item {
  border-bottom: 1px solid #dddddd;
  padding: 18px;
  position: relative;
}

.my-requested-data-container__message {
  margin-top: 30px;
  width: 80%;
  color: #5f5f5f;
}

.my-requested-data-container__actions {
  float: right;
  position: absolute;
  top: 18px;
  right: 18px;
}

.my-requested-data-container__actions button {
  width: 70px;
}

.my-requested-data-container__actions--reject {
  margin-top: 15px;
}

.my-requested-data-container__date {
  color: #9d9c9c;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 12px;
}
