.requested-data-container {
  margin-bottom: 50px;
}

.requested-data-container h3 {
  text-transform: uppercase;
}

.requested-data-container__content {
  margin-top: 8px;
}

.requested-data-container__content-item {
  position: relative;
  border-bottom: 1px solid #CCCCCC !important;
}

.requested-data-container__content-item h4 {
  padding-left: 18px;
  width: 27%;
  word-wrap: break-word;
  margin-top: -5px;
}

.requested-data-container__message {
  /*margin-top: 30px;*/
  width: 95%;
  color: #5f5f5f;
}

.requested-data-container__message--modal {
  margin-top: 0;
  width: 96%;
  color: #5f5f5f;
}

.requested-data-container__date {
  color: #9d9c9c;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 12px;
}

.requested-data-container__new-date {
  color: #9d9c9c;
  margin-top: 30px;
  margin-bottom: 0px;
}


.requested-data-container__content-item .gravatar {
  float: left;
}

.requested-data-container__content-item-info-separator {
  color: #6f6b6b;
}

.request-message-alert {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 10;
}
.requested-data-container__status {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-39%);
  text-align: center;
  width: 60px;
}

.requested-data-container__status-text {
  font-size: 12px;
  color: #565656;
  margin-top: 5px;
}

.requested-data-container__status .icon-remove-circle,
.requested-data-container__status .icon-thumbs-up,
.requested-data-container__status .icon-thumbs-down {
  font-size: 30px;
}

.requested-data-container__status .icon-remove-circle {
  color: #bd362f;
}

.requested-data-container__status .icon-thumbs-up {
  color: #51a351;
}

.requested-data-container__status .icon-thumbs-down {
  color: #49afcd;
}
.dropdown {
    /*float: right;*/
}
.title-requests{
    display:inline-block;
}
.icon-circle{
    color:red;
}

.sysadmin-requests-container {
  padding: 0 30px;
}

.sysadmin-requests-container__dropdown {
  padding: 15px;
}

.sysadmin-requests-container__dropdown-buttons {
  margin-top: 30px;
}

.requested-data-container__content-item-counters {
  margin-left: 12%;
  width: 100%;
}

.archive-requests-arrow {
  color: #848484;
  font-size: 18px;
  cursor: pointer;
  width: 25px;
}

.requested-data-container__content-item-archive-maintainers {
  width: 100%;
}

.requested-data-total{
  font-size: 16px;
  margin-top: 25px;
}
.requested-data-total-counters{
    font-size: 16px;
    position: absolute;
    top: 36px;
    left: 300px;
}
.total-requests-filter {
  position: absolute;
  right: 45px;
  top: 10px;
}
.org-total-requests-filter{
  float:right;
  margin-right: 15px;
}

.sysadmin-requests-container .requested-data-total-counters {
  margin-bottom: 20px;
}

.add-dataset-modal {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  z-index: 1050;
  display: none;
}

.add-dataset-modal-box {
  display: table-cell;
  background-color: #ffffff;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  outline: none;
  text-align: center;
}

.add-dataset-modal-description {
  margin-top: 30px;
}

.add-dataset-modal-description p {
  font-weight: bold;
}

.add-dataset-modal-description ul {
  text-align: left;
}

.add-dataset-modal .close {
  font-size: 35px;
  color: white;
  position: relative;
  top: -32px;
}

.add-dataset-modal-backdrop {
  display: none;
}
.requested-data-container-item {

}
.requested-data-container-inline{
   display: inline;
}
.requested-data-org-title{
    margin: 7px 15px 0px 0px;
    width: 23%;
    word-wrap: break-word;
}
.requested-data-order-btn{
    float: right;
    margin-top: 15px;
    z-index: 2;
}
.requested-data-counters-num{
    width: 12px !important;
}
.move-right{
    margin-left: 15px;
}
.requested-data-container__collapse{
  background-color: #F8F8F8;
}
.requested-data-shared{
    position: absolute;
    top: 39%;
    right: 30%;
}
.requested-data-total-content{
  padding: 0 30px 15px;
  position: relative;
}
.requested-data-download-btn{
  margin-top: 30px;
  margin-left: 30px;
}
.btn-filter{
    width: 100px;
}

.request-data-notification {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.gray-bg {
  background-color: #eeeeee;
}

.lg-title {
  color: #828282;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900 !important;
  font-size: 25px !important;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.bold {
  font-weight: bold;
}

.neg-mb10 {
  margin-bottom: -10px;
}

.new-msg {
  /*background-color: #f7f7f7;*/
  padding: 15px 15px 0px;
  border-radius: 10px;
  /*color: #a7a7a7;*/
  font-size: small;
  word-wrap: break-word;
}

.regular-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}

.new-bottom-actions {
  position: static;
  margin-right: 45px;

}

.new-bottom-actions a {
  width: 160px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.new-bottom-actions div {
}

.new-bq {
  /*padding: 10px 20px;*/
  margin: 0 -25px 30px;
  font-size: 17.5px;
  width: 100%;
}

.requested-data-container-inline a[class="btn btn-empty btn-empty-black btn-large btn-cancel"] {
/* reject_button_class block in template doesn't get overwritten, workaround^ */
  text-align: center;
}

.circle {
width:55px;
height:55px;
border-radius:50px;
}

.upper {
  width: 350px;
  height: 12px;
  margin-bottom: 10px;
}
.lower {
  width: 475px;
  height: 12px;
}

.lines {
  margin-top: -55px;
padding: 10px;
margin-left: 55px;
padding-bottom: 20px;
}

h3 {
  /* h3 overwritten in request-data.css (?) */
  font-size: 18px !important;
}

.container-subpanel {
  margin-top: 20px;
}

.empty {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

#dataset-resources h3 {
  margin-left: 0px;
}

.additional-info h3 {
  margin-left: 5px;
}

.requested-data-container .requested-data-message {
  margin-top: 60px;
  display: none;
}

.requests-header {
  height: 50px;
  border-bottom: 1px solid #cccccc;
  background-color: #edf6fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.requests-header__title {
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
  width: 30%;
  word-wrap: break-word;
}

.requested-data-container__header {
  position: relative;
  color: #888888;
}

.requested-data-container__header--title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.requested-data-container__content-item--requested-by {
  margin-left: -7%;
  width: 37%;
}

.requested-data-container__content-item--sections {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.requested-data-container__content-item--actions {
  margin-right: 5%;
}

.requested-data-container__content-item--requested-by-info {
  width: 85%;
  float: left;
  margin-left: 10px;
  margin-top: -4px;
}

.requested-data-container__content-item--requested-by-date   {
  font-size: 12px;
  color: #757575;
}

.requested-data-container__content-item--requested-by-message {
  color: #757575;
  word-break: break-word;
  width: 125%;
}

.requested-data-container__content-item--actions-text {
  font-size: 12px;
  margin-bottom: 7px;
}

.requested-data-container__content-item-counters--icon {
  width: 18px;
  height: 18px;
  margin-left: 30px;
}

.requested-data-container__content-item-counters--replied {
  transform: rotateY(180deg);
}

.requested-data-container__collapse--line {
  background: #CCCCCC;
  width: 100%;
  height: 1px;
}

.requested-data-container__collapse--sections {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
  padding-top: 16px;
}

.requested-data-container__collapse--request-status {
  margin-right: 30px;
}

.requested-data-container__collapse--status-text {
  color: #6f6f6f;
  font-size: 13px;
}

.requested-data-order-btn .dropdown-toggle,
.filter-requests .dropdown-toggle {
  cursor: pointer;
}

.requests-header-counters {
  margin-left: -14%;
}

.requests-main-container {
  padding: 30px;
}

.requested-data-container__header--actions {
  float: right;
  margin-right: 133px;
}

.requested-data-container__header--requested {
  position: absolute;
  left: 32%;
}