{% extends "page.html" %}

{% set my_requests_url = h.url_for('requestdata_my_requests', id=c.userobj.name) %}

{% block breadcrumb_content %}
  <li>{% link_for _('Users'), controller='user', action='index' %}</li>
  <li class="active">
    <a href="{{ my_requests_url }}">My Requests</a>
  </li>
{% endblock %}

{% block subtitle %}{{ _('My Requests') }} - {{ super() }}{% endblock %}

{% set total_archived_requests = [] %}

{% for item in requests_archive %}
  {% for request in item.requests_archived %}
    {% if total_archived_requests.append(1) %}{% endif %}
  {% endfor %}
{% endfor %}

{% set total_requests = requests_new | length + requests_open | length + total_archived_requests | length %}

{% block primary %}
  <div class="requests-main-container">
    {% snippet 'requestdata/snippets/requests_header.html', title='My Requests', total_requests=total_requests %}

    {% snippet 'requestdata/snippets/section_base.html', state='new', title='New requests', requests=requests_new, template_type='user' %}
    {% snippet 'requestdata/snippets/section_base.html', state='open', title='Open', requests=requests_open, template_type='user' %}

    {% if requests_archive %}
      {% snippet 'requestdata/snippets/order_requests.html', service_url=my_requests_url, current_order_name=current_order_name %}
    {% endif %}

    {% snippet 'requestdata/snippets/section_base.html', state='archive', title='Archived', requests=requests_archive, template_type='user' %}

    <div class="alert alert-dismissible request-message-alert hide" role="alert">
      <div class="alert-text"></div>
    </div>
  </div>
{% endblock %}

{% block secondary %}{% endblock %}



