{#

Creates single item in a section.

item - The request that needs to be shown.

Example usage:
  {% snippet 'requestdata/snippets/section_item_new.html', item=item %}

#}

{% resource 'requestdata/modal-form.js' %}

{% set sender_profile = h.url_for(controller='user', action='read', id=item.sender_user_id) %}
{% set package_url = h.url_for(controller='package', action='read', id=item.package_id) %}

<div class="requested-data-container__content-item">
  <p class="requested-data-container__content-item-info">
    {# {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=28) }} #}
    <a href="{{ sender_profile }}" title="{{ _('View profile') }}">{{ item.sender_name }}</a> from the organization <b>{{ item.organization }}</b> requests new data for dataset <a href="{{ package_url }}" title="{{ _('View dataset') }}">{{ h.requestdata_get_package_title(item.package_id) }}</a>.
  </p>

  <blockquote class="requested-data-container__message">
    <p>{{ item.message_content }}</p>
  </blockquote>

  <p class="requested-data-container__date" title="{{ h.render_datetime(item.created_at, with_hours=True) }}">{{ h.requestdata_time_ago_from_datetime(item.created_at) }}</p>

  {% set reply_action = h.url_for('requestdata_handle_new_request_action', username=c.userobj.name, request_action='reply') %}
  {% set reply_post_data = h.dump_json({'id': item.id, 'package_id': item.package_id, 'state': 'open', 'send_to': item.email_address}) %}

  {% set reject_action = h.url_for('requestdata_handle_new_request_action', username=c.userobj.name, request_action='reject') %}
  {% set reject_post_data = h.dump_json({'id': item.id, 'package_id': item.package_id, 'state': 'archive', 'send_to': item.email_address, 'rejected': True}) %}

  {% if c.userobj %}
    {% set is_logged_in = 'true' %}
  {% else %}
    {% set is_logged_in = 'false' %}
  {% endif %}

  {% set redirect_url = h.url_for(controller='user', action='login') %}

  <div class="requested-data-container__actions">
    <button class="btn btn-success requested-data-container__actions--reply"
            data-module="modal-form"
            data-module-template_file="reply_request_form.html"
            data-module-submit_action="{{ reply_action }}"
            data-module-post_data="{{ reply_post_data }}"
            data-module-is_logged_in="{{ is_logged_in }}"
            data-module-redirect_url="{{ redirect_url }}"
            data-module-refresh_on_success="1"
            data-module-disable_action_buttons="1">Reply</button>
    <br>
    <button class="btn btn-danger requested-data-container__actions--reject"
            data-module="modal-form"
            data-module-template_file="reject_request_form.html"
            data-module-submit_action="{{ reject_action }}"
            data-module-post_data="{{ reject_post_data }}"
            data-module-is_logged_in="{{ is_logged_in }}"
            data-module-redirect_url="{{ redirect_url }}"
            data-module-refresh_on_success="1"
            data-module-disable_action_buttons="1">Reject</button>
  </div>
</div>
