{#

Creates single item in a section.

item - The request that needs to be shown.

Example usage:
  {% snippet 'requestdata/snippets/section_item_open.html', item=item %}

#}

{% resource 'requestdata/modal-form.js' %}

{% set package_url = h.url_for(controller='package', action='read', id=item.package_id) %}

<div class="my-requested-data-container__content-item">
  <p class="my-requested-data-container__content-item-info">You contacted with <a href="{{ sender_profile }}" title="{{ _('View profile') }}">{{ item.sender_name }}</a> for a new data request for dataset <a href="{{ package_url }}" title="{{ _('View dataset') }}">{{ h.requestdata_get_package_title(item.package_id) }}</a>. Was data shared?</p>

  <p class="my-requested-data-container__date" title="{{ h.render_datetime(item.created_at, with_hours=True) }}">{{ h.requestdata_time_ago_from_datetime(item.created_at) }}</p>

  <div class="my-requested-data-container__actions">
    <button class="btn btn-success my-requested-data-container__actions--data-shared">Yes</button>
    <br>
    <button class="btn btn-danger my-requested-data-container__actions--data-notshared">No</button>
  </div>
</div>
