{#

Creates single item in a section.

item - The request that needs to be shown.

Example usage:
  {% snippet 'requestdata/snippets/section_item_archive.html', item=item %}

#}

{% resource 'requestdata/expand-dataset.js' %}

<div class="requested-data-container__content-item">
  <p class="requested-data-container__content-item-info">
  <h3>{{ item.title }}</h3></p>
  {% block counters %}
    {% set counters = h.requestdata_get_request_counters(item.package_id) %}
    <div class="requested-data-container__content-item-counters">
      <span><div class="counter-number"><span class="requested-data-counters-num">{{ counters.requests }}</span></div> Requests</span>
      <span><div class="counter-number"><span class="requested-data-counters-num">{{ counters.replied }}</span></div> Replied</span>
      <span><div class="counter-number"><span class="requested-data-counters-num">{{ counters.declined }}</span></div> Declined</span>
      <span><div class="counter-number"><span class="requested-data-counters-num">{{ counters.shared }}</span></div> Shared</span>
    </div>
  {% endblock %}
  {% block collapse_icon %}
     <i class="icon-chevron-down archive-requests-arrow" data-toggle="collapse" data-target="#{{ item.package_id }}"></i>
  {% endblock %}
  <div id="{{ item.package_id }}" class="collapse requested-data-container__collapse">
    {% for x in item.requests_archived %}
    <div class="requested-data-container__content-item">
      {% set sender_profile = h.url_for(controller='user', action='read', id=x.sender_user_id) %}
      <p class="requested-data-container__content-item-info">Request by: <a href="{{ sender_profile }}" title="{{ _('View profile') }}">{{ x.sender_name }}</a></p>

      <p class="requested-data-container__date" title="{{ h.render_datetime(x.modified_at, with_hours=True) }}">{{ h.requestdata_time_ago_from_datetime(x.modified_at) }}</p>

      <div class="requested-data-container__status">
        {% if x.rejected %}
         {% block rejected_icon %}
          <i class="icon-remove-circle"></i>
          <p class="requested-data-container__status-text">Rejected</p>
         {% endblock %}
        {% elif x.data_shared %}
        {% block shared_icon %}
          <i class="icon-thumbs-up"></i>
          <p class="requested-data-container__status-text">Shared</p>
        {% endblock %}
        {% elif not x.data_shared %}
        {% block notshared_icon %}
           <i class="icon-thumbs-down"></i>
          <p class="requested-data-container__status-text">Not shared</p>
        {% endblock %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
