{% ckan_extends %}

{% block content_primary_nav %}
  {{ super() }}
  {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
    {{ h.build_nav_icon('requestdata_organization_requests', _('Requested Data'), id=c.group_dict.name) }}

  {% set is_hdx_portal = h.requestdata_is_hdx_portal() %}

  {% if not is_hdx_portal %}
    {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
      {{ h.build_nav_icon('requestdata_organization_requests', _('Requested Data'), id=c.group_dict.name) }}
    {% endif %}
  {% endif %}
{% endblock %}
