{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
  {% snippet 'admin/snippets/section_base.html', title='Requests data', requests=requests_data %}
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('Data') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}
        <p><strong>Requested data:</strong> We will add info for these page here</a>.</p>
      {% endblock %}
    </div>
  </div>
{% endblock %}
