{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block scripts %}
  {{ super() }}
  {% resource 'requestdata/filter-requests.js' %}
{% endblock -%}


{% block primary_content_inner %}
  {% set service_url = h.url_for('download_requests_data') %}
  {% set csv = '?format=csv'%}
  {% set json = '?format=json'%}
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">Download
    <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-left">
      <li><a href="{{ service_url }}{{ csv }}">CSV</a></li>
      <li><a href="{{ service_url }}{{ json }}">JSON</a></li>
    </ul>
  </div>
  <div class="sysadmin-requests-container">
    {% for org in organizations %}
      <h2 data-id="{{ org.id }}">Organization: {{ org['title'] }}</h2>
      <div data-module="filter-requests"
           data-module-org_name="{{ org.name }}">
        Filter by:
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Maintainer
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu sysadmin-requests-container__dropdown">
            <div onclick="event.stopPropagation()">
              {% for item in org.maintainers %}
                <label class="checkbox" for="{{ item.username }}">
                  <input type="checkbox" value="{{ item.username }}" id="{{ item.username }}">{{ item.name }} ({{ item.count }})
                </label>
              {% endfor %}
            </div>
            <div class="sysadmin-requests-container__dropdown-buttons">
              <button class="btn btn-small" type="button" data-action="apply">Apply</button>
              <button class="btn btn-small" type="button" data-action="reset">Reset</button>
            </div>
          </div>
        </div>
      </div>

      {% snippet 'requestdata/snippets/section_base.html', state='new', title='New', requests=org['requests_new'] %}
      {% snippet 'requestdata/snippets/section_base.html', state='open', title='Open', requests=org['requests_open'] %}
      {% snippet 'requestdata/snippets/section_base.html', state='archive', title='Archive', requests=org['requests_archive'] %}
    {% endfor %}
  </div>
  <div class="alert alert-dismissible request-message-alert hide" role="alert">
    <div class="alert-text"></div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('Data') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}
        <p><strong>Requested data:</strong> We will add info for these page here</a>.</p>
      {% endblock %}
    </div>
  </div>
{% endblock %}
