{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}
{% set action_url = h.url_for('ckanadmin_email') %}

{% block primary_content_inner %}
   <form method="post" action="{{ action_url }}"class="form-horizontal col-sm-12" id="email-body-form">
      {{ form.textarea('email_header', id='field-header', label=_('Header'), value=data.email_header, error='',is_required=true,attrs={'required':'required'}) }}
      {{ form.textarea('email_body', id='field-body', label=_('Body'), value=data.email_body, error='',is_required=true,attrs={'required':'required'}) }}
      {{ form.textarea('email_footer', id='field-footer', label=_('Footer'), value=data.email_footer, error='',is_required=true,attrs={'required':'required'}) }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="save">{{ _('Update Email Form') }}</button>
    </div>
  </form>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('CKAN email options') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}
        <p><strong>Header:</strong>This sentence contains important alerts to be read before a user reads your message.</p>
        <p><strong>Body:</strong>This is for the message you want to deliver. All necessary information should go here.</p>
        <p><strong>Footer:</strong>The last sentence. Here you can add copyrights, links, disclosures or portal/organization information.</p>
        <p><strong>Formating:</strong>You can use generic terms for the email template. Just surround one of the available terms in <b>{ }</b> and they will be converted.
        <b>e.g</b>
        <p>Hi {data_owner} will be displayed as Hi Chris</p></p>
        <p><strong>Available terms:</strong>
           <ul>
                <li><b>name</b>: full name or user name of the requester</li>
                <li><b>data_owner</b>: full name or user name of the data owner</li>
                <li><b>dataset</b>: requested dataset title </li>
                <li><b>message</b>: comment field from data request form</li>
                <li><b>organization</b>: list of all organizations</li>
                <li><b>email</b>:  email address from the data requester</li>
           </ul>
        </p>
      {% endblock %}
    </div>
  </div>
{% endblock %}
